.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    width: 100%;
}
.maitid-maishidkrai {
    margin-top: 10px;
}

body {
    background-image: linear-gradient(to left,#feb028,white,white,white,white,#00aeef);
}