<body>
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-md-4 offset-md-4">
      <h1 style="text-align: center ">WELLCOME,{{username}}</h1>
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Menu</h5>
          <div>
            <button class="maitid-maishidkrai">
              editprofile
            </button>
          </div>
          <div>
            <button routerLink="/searchcar" class="maitid-maishidkrai">
              searchcar
            </button>
          </div>
          <div>
            <button class="maitid-maishidkrai">
              leavecar
            </button>
          </div>
          <div>
            <button class="maitid-maishidkrai">
              qrcode
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>      
  <br>  
  <br>  
  <br>  
  <br>
  <br>      
  <br>  
  <br>  
  <br>  
  <br>  
</body>
