.card {
    margin-top: 20px;
}
.right {
    position: absolute;
    right: 0px;
    padding: 10px;
  }
.maitid-maishidkrai {
    margin-top: 10px;
}
.img-responsive.img-center {
    margin: 0 auto;
    }
.loginbor {
    border: 3px solid white;
    border-radius: 30px;
}
body {
    color: rgb(20, 61, 71);
    background-color: #6dd0f7;
}