.card {
    margin-top: 20px;
}
.right {
    position: absolute;
    right: 0px;
    padding: 10px;
  }
.maitid-maishidkrai {
    margin-top: 10px;
}
.img-responsive.img-center {
    margin: 0 auto;
    }
.loginbor {
    border: 2px solid white;
    border-radius: 30px;
}
.kwar {
    float: right;
  }
body {
    color: rgb(20, 61, 71);
    background-image: url(/assets/png-flies/schoolweb/schoolweb-bg2.png);
}